@charset "utf-8";
/* CSS Document */

body{
  margin:0 ;
  background-color: #F1F0E9;

}

.headerposter{
  background-color: /*#FFE797 #84994F */ #8BAE66;
  height: 56px;
}

nav{
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding:10px;
  background:#F9F5F0;
}

.nav1{
  height: 58px;
}
.nav2{
  border: 1px solid #CBCBCB;
  height: 40px;

}

.logo-bar{
  display: flex;
  align-items: center;
  padding:30px;
  height: 70px;
  gap: 10px;
}

.menu{
  display: flex;
  justify-content: flex-start;
  padding: 30px;
  height: 70px;

}

.log{
  display: flex;
  align-items: center;
  padding: 30px;
  gap: 10px;
}


.signin{
  height: 50px;
  margin: 20px;
}

.login{
  background-color: #A72703;
  height: 50px;
  margin: 20px;
}

.lan-card{
  display: flex;
	justify-content: center;
	align-items: center;
	min-height:200px;
  margin: 50px;
}

.lancard{
  position: relative;
	height: 200px;
	width: 400px;
	margin: 20px;
	background-color: #628141;
	border-radius: 12%;
}

.flag{
  display: flex;
  margin: 20px;
}

footer{
  background-color: #0D4715;
  height: 300px;
}
